<footer class="site-footer">
  <div class="container position-relative">
    <div class="row g-4">
      <div class="col-md-4 footer-brand">
        <img src="/public/images/ikea.png" alt="IKEA Logo">
        <p>Well-designed, functional home furnishings at prices so low that as many people as possible can afford them.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com" class="icons1"><i class='bx bxl-linkedin'></i></a>
          <a href="https://www.twitter.com" class="icons1"><i class='bx bxl-twitter'></i></a>
          <a href="https://www.instagram.com" class="icons1"><i class="bx bxl-instagram"></i></a>
          <a href="https://www.facebook.com" class="icons1"><i class="bx bxl-facebook"></i></a>
        </div>
      </div>
      <div class="col-6 col-md-2">
        <h6>Shop</h6>
        <a href="/products" class="footer-link">All Products</a>
        <a href="/cart" class="footer-link">My Cart</a>
        <a href="/orders/my" class="footer-link">My Orders</a>
      </div>
      <div class="col-6 col-md-2">
        <h6>Company</h6>
        <a href="/about" class="footer-link">About Us</a>
        <a href="/contact" class="footer-link">Contact Us</a>
      </div>
      <div class="col-md-4">
        <h6>Get in touch</h6>
        <a class="footer-link"><i class='bx bx-map'></i> 123 IKEA Street, City, Country</a>
        <a class="footer-link"><i class='bx bx-phone'></i> +123 456 7890</a>
        <a class="footer-link"><i class='bx bx-envelope'></i> contact@ikea.com</a>
      </div>
    </div>
    <div class="footer-bottom text-center">
      <p class="mb-0 fw-bold">© 2025 IKEA. All Rights Reserved.</p>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init({ duration: 700, once: true, offset: 60 });
</script>
